@use '../variables';

.forget-password {
    background-color: variables.$main-color;
    width: 100vw;
    height: 100vh;
    .forget-password-form {
        background-color: white;
        border-radius: 10px;
        width: 80%;
        height: 70%;
        position: relative;
        & > img {
            width: 30%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
        }
        & > span {
            display: block;
            width: 100%;
            text-align: center;
            background-color: red;
        }
    }
}